* {
    font-family: "Muli", sans-serif;
}
.App {
    margin: 2rem;
    font-family: "Muli", sans-serif;
}

.main-header {
    color: white;
    background-color: #101219;
    height: 60vh;
}

.main-header h1 {
    font-size: 4rem;
}

.header-text-box {
    width: 40vw;
    padding: 40px;
    margin-left: 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-card {
    width: 20vw;
    text-align: center;
}

.image-card img {
    width: 100px;
}

.button {
    background: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding-top: 10px;
}
